#Business Requirement Document
#Version 1.0

A subcontractor is an entity (mostly a person)
that works similar to an employee for various projects.
We are interested in the contact info (name, email),
cost (monthly income) and nb of hours worked. In rare cases,
a subcontractor can also be a company.

Because subcontractors are external, they are not eligible
to time off. Nor do we need to calculate taxes for them.

We need to implement this feature because in most
companies employees work with external collaborators.